*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(254, 253, 253);
}

a{
    text-decoration: none;
    color: #f6f5f5;
}

.welcome a:hover{
    color: purple;
}



